.new-button{
    background-color: yellowgreen;
}

.main-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}

.new-post-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 20px;
}

#new-post-title{
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

textarea {
  width: 80%; /* Relative to parent container */
  height: 300px;
}